body {
  font-size: 16px;
  font-family: var(--font-sans);
}

p a {
  text-decoration: underline;
}

a {
  display: block;
}

.header-container {
  padding: 0 1.5rem;
  display: flex;
}

.container {
  padding: 0 1.5rem;
  display: flex;

  @media only screen and (min-width: 36rem) {
    padding: 0;
    max-width: 34rem;
    margin: 0 auto;
  }

  @media only screen and (min-width: 48rem) {
    max-width: 44rem;
  }

  @media only screen and (min-width: 64rem) {
    max-width: 58.5rem;
  }

  @media only screen and (min-width: 80rem) {
    max-width: 70rem;
  }

  // @media only screen and (min-width: 96rem) {
  //   max-width: 76rem;
  // }
}

.btn-primario,
.btn-secundario,
.btn-terciario {
  display: block;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  border-radius: var(--borda);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
}

.btn-primario {
  font-weight: var(--medium);
  padding: 1rem 2rem;

  &.btn-index-after::after {
    //temporario
    content: '';
    width: 1rem;
    height: 1rem;
    background: var(--wireframe-300);
    margin-left: .8rem;
  }

  &.--cor-primaria {
    background: var(--wireframe-000);
    color: var(--wireframe-600);
    border: 2px solid var(--wireframe-000);
  }

  &.--borda-primaria {
    border: 2px solid currentColor;
  }
}

.btn-secundario {
  padding: .75rem 1.5rem;
}

.btn-terciario {
  padding: .5rem 1.25rem;
}

.hide {
  //esconde labels de botões - questão de acessibilidade
  position: absolute;
  left: -999999px;
}

.page-main-section {
  padding: calc(7.5rem + var(--section_top-spacing)) 0 7rem;
  background: var(--wireframe-100);

  .container {
    flex-direction: column;

    h1 {
      margin-bottom: 1.25rem;
    }
  }
}

footer {
  margin-top: 4.5rem;
  background: var(--wireframe-200);
  padding: 1.25rem 0;
  position: relative;
  z-index: 9999;

  .container {
    justify-content: center;
  }

  * {
    color: var(--wireframe-400);
    font-size: .75rem;
    line-height: 1.7;
  }

  p {
    text-align: center;

    a {
      display: inline-block;
    }
  }
}