

@media only screen and (min-width: 80rem) {
  #dashboard-nav {
    display: flex;
    width: 100%;
    position: relative;

    #dashboard-content {
      width: calc(100% - 16rem);
      margin-left: auto;
      padding: 0 1.75rem;

      *.container {
        max-width: 100%;
      }
    }
  }
}