:root {
  //TIPOGRAFIA ================================
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

  --font-sans: 'Open Sans', sans-serif;

  --bold: 700;
  --semibold: 600;
  --medium: 500;
  --regular: 400;

  //CORES ================================
  // // WIREFRAME
  --wireframe-000: #fff;
  --wireframe-100: #E0E0E0;
  --wireframe-200: #BDBDBD;
  --wireframe-300: #828282;
  --wireframe-400: #4F4F4F;
  --wireframe-500: #333333;
  --wireframe-600: #111111;

  //BORDA ================================
  --borda: .125rem;
  --borda-m: .25rem;

  //ESPAÇAMENTO ================================
  // // PADDIND-TOP -> FIXED HEADER 
  --section_top-spacing: 4.5rem + 1px;
  
  // // ESPAÇAMENTO ENTRE SEÇÕES
  --sections-margin: 4.5rem;

  // // // SEPARA O TITULO DO CONTEUDO DAS SEÇÕES
  // --section-title_spacing: 2.75rem;
}