@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
  //TIPOGRAFIA ================================
  --font-sans: 'Open Sans', sans-serif;

  --bold: 700;
  --semibold: 600;
  --medium: 500;
  --regular: 400;

  //CORES ================================
  // // WIREFRAME
  --wireframe-000: #fff;
  --wireframe-100: #E0E0E0;
  --wireframe-200: #BDBDBD;
  --wireframe-300: #828282;
  --wireframe-400: #4F4F4F;
  --wireframe-500: #333333;
  --wireframe-600: #111111;

  //VISUAL TEMPORARIO
  --visual-000: #fff;
  --visual-100: #C7D8FF;
  --visual-200: #8BAEFF;
  --visual-300: #5084FF;
  --visual-400: #2868FF;
  --visual-500: #3555a0;
  --visual-600: #314f94;
  --visual-700: #002988;
  --visual-800: #00174C;
  --visual-900: #001138;

  --rosa-100: #f8e2f1;
  --rosa-200: #f4aee1;
  --rosa-300: #FF00BB;
  --rosa-900: #430031;

  //BORDA ================================
  --borda: .125rem;
  --borda-m: .25rem;

  //ESPAÇAMENTO ================================
  // // PADDIND-TOP -> FIXED HEADER 
  --section_top-spacing: 4.5rem + 1px;

  // // ESPAÇAMENTO ENTRE SEÇÕES
  --sections-margin: 5rem;

  // // // SEPARA O TITULO DO CONTEUDO DAS SEÇÕES
  // --section-title_spacing: 2.75rem;

  @media only screen and (min-width: 48rem) {
    --sections-margin: 6.5rem;
  }

  @media only screen and (min-width: 80rem) {
    --sections-margin: 7.3rem;
  }
}