@import "../global/global-styles";
@import "../components/component-header";
@import "../components/component-breadcrumb";
@import "../components/component-dashboard-nav";
@import "../components/component-dashboard-filtro";
@import "../global/dashboard";

main {
  padding-top: calc(1.8rem + var(--section_top-spacing));

  .main-container {
    flex-direction: column;
  }

  // @media only screen and (min-width: 80rem) {
  //   padding-top: 0;
  // }
}

#section-eventos {
  margin-top: 3rem;

  .container {
    flex-direction: column;

    .eventos-resultados {
      display: block;
      color: var(--wireframe-400);
      margin-bottom: 2rem;

      strong {
        font-weight: var(--semibold);
      }
    }

    .evento-lista {
      display: flex;
      flex-direction: column;

      span,p {
        line-height: 1.2;
      }

      .evento {

        &-item {
          padding: 1.25rem 1rem;
          border-radius: var(--borda-m);
          border: 1px solid var(--wireframe-100);
          height: fit-content;
          max-width: 18.5rem;

          &:not(:last-child) {
            margin-bottom: 1.625rem;
          }
        }

        &-categoria {
          display: block;
          width: fit-content;
          margin-bottom: .75rem;
          padding: .25rem 1rem;
          border-radius: var(--borda);
          background: var(--wireframe-100);
          font-size: 0.875rem;
          font-weight: var(--medium);
          letter-spacing: .02625rem;
        }

        &-titulo {
          color: var(--wireframe-500);
          font-size: 1.125rem;
          font-weight: var(--bold);
        }

        &-data,
        &-local {
          display: flex;
          align-items: center;
          color: var(--wireframe-400);
          font-size: .875rem;

          &::before {
            margin-right: .375rem;
          }
        }

        &-data {
          margin: 1.375rem 0 1rem;

          &::before {
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none"><path d="M7.0002 8.9C6.80186 8.9 6.63549 8.8328 6.50109 8.6984C6.36669 8.564 6.29973 8.39787 6.3002 8.2C6.3002 8.00167 6.3674 7.8353 6.5018 7.7009C6.6362 7.5665 6.80233 7.49953 7.0002 7.5C7.19853 7.5 7.36489 7.5672 7.4993 7.7016C7.6337 7.836 7.70066 8.00213 7.70019 8.2C7.70019 8.39833 7.63299 8.5647 7.49859 8.6991C7.36419 8.8335 7.19806 8.90047 7.0002 8.9ZM4.2002 8.9C4.00186 8.9 3.8355 8.8328 3.7011 8.6984C3.5667 8.564 3.49973 8.39787 3.5002 8.2C3.5002 8.00167 3.5674 7.8353 3.7018 7.7009C3.8362 7.5665 4.00233 7.49953 4.2002 7.5C4.39853 7.5 4.5649 7.5672 4.6993 7.7016C4.8337 7.836 4.90066 8.00213 4.9002 8.2C4.9002 8.39833 4.833 8.5647 4.6986 8.6991C4.5642 8.8335 4.39806 8.90047 4.2002 8.9ZM9.80019 8.9C9.60186 8.9 9.43549 8.8328 9.30109 8.6984C9.16669 8.564 9.09973 8.39787 9.10019 8.2C9.10019 8.00167 9.16739 7.8353 9.30179 7.7009C9.43619 7.5665 9.60233 7.49953 9.80019 7.5C9.99853 7.5 10.1649 7.5672 10.2993 7.7016C10.4337 7.836 10.5007 8.00213 10.5002 8.2C10.5002 8.39833 10.433 8.5647 10.2986 8.6991C10.1642 8.8335 9.99806 8.90047 9.80019 8.9ZM7.0002 11.7C6.80186 11.7 6.63549 11.6328 6.50109 11.4984C6.36669 11.364 6.29973 11.1979 6.3002 11C6.3002 10.8017 6.3674 10.6353 6.5018 10.5009C6.6362 10.3665 6.80233 10.2995 7.0002 10.3C7.19853 10.3 7.36489 10.3672 7.4993 10.5016C7.6337 10.636 7.70066 10.8021 7.70019 11C7.70019 11.1983 7.63299 11.3647 7.49859 11.4991C7.36419 11.6335 7.19806 11.7005 7.0002 11.7ZM4.2002 11.7C4.00186 11.7 3.8355 11.6328 3.7011 11.4984C3.5667 11.364 3.49973 11.1979 3.5002 11C3.5002 10.8017 3.5674 10.6353 3.7018 10.5009C3.8362 10.3665 4.00233 10.2995 4.2002 10.3C4.39853 10.3 4.5649 10.3672 4.6993 10.5016C4.8337 10.636 4.90066 10.8021 4.9002 11C4.9002 11.1983 4.833 11.3647 4.6986 11.4991C4.5642 11.6335 4.39806 11.7005 4.2002 11.7ZM9.80019 11.7C9.60186 11.7 9.43549 11.6328 9.30109 11.4984C9.16669 11.364 9.09973 11.1979 9.10019 11C9.10019 10.8017 9.16739 10.6353 9.30179 10.5009C9.43619 10.3665 9.60233 10.2995 9.80019 10.3C9.99853 10.3 10.1649 10.3672 10.2993 10.5016C10.4337 10.636 10.5007 10.8021 10.5002 11C10.5002 11.1983 10.433 11.3647 10.2986 11.4991C10.1642 11.6335 9.99806 11.7005 9.80019 11.7ZM2.1002 14.5C1.7152 14.5 1.3855 14.3628 1.1111 14.0884C0.836696 13.814 0.69973 13.4845 0.700197 13.1V3.3C0.700197 2.915 0.837396 2.5853 1.1118 2.3109C1.3862 2.0365 1.71566 1.89954 2.1002 1.9H2.8002V1.2C2.8002 1.00167 2.8674 0.835302 3.0018 0.700902C3.1362 0.566502 3.30233 0.499536 3.5002 0.500002C3.69853 0.500002 3.8649 0.567202 3.9993 0.701602C4.1337 0.836002 4.20066 1.00214 4.2002 1.2V1.9H9.80019V1.2C9.80019 1.00167 9.86739 0.835302 10.0018 0.700902C10.1362 0.566502 10.3023 0.499536 10.5002 0.500002C10.6985 0.500002 10.8649 0.567202 10.9993 0.701602C11.1337 0.836002 11.2007 1.00214 11.2002 1.2V1.9H11.9002C12.2852 1.9 12.6149 2.0372 12.8893 2.3116C13.1637 2.586 13.3007 2.91547 13.3002 3.3V13.1C13.3002 13.485 13.163 13.8147 12.8886 14.0891C12.6142 14.3635 12.2847 14.5005 11.9002 14.5H2.1002ZM2.1002 13.1H11.9002V6.1H2.1002V13.1Z" fill="%23BDBDBD"/></svg>');
          }
        }

        &-local::before {
          content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="15" viewBox="0 0 12 15" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.00031 13.7998L6.4959 14.294C6.43087 14.3593 6.35358 14.4111 6.26847 14.4465C6.18336 14.4818 6.09212 14.5 5.99996 14.5C5.9078 14.5 5.81655 14.4818 5.73145 14.4465C5.64634 14.4111 5.56905 14.3593 5.50402 14.294L5.49982 14.2891L5.48792 14.2772L5.44452 14.2331C5.19776 13.9789 4.95507 13.7208 4.71653 13.4589C4.11762 12.8027 3.54414 12.1236 2.99735 11.4233C2.37296 10.6184 1.73457 9.70837 1.24948 8.80958C0.774885 7.92829 0.400391 6.97351 0.400391 6.09992C0.400391 2.92266 2.91475 0.5 6.00031 0.5C9.08587 0.5 11.6002 2.92266 11.6002 6.09992C11.6002 6.97351 11.2257 7.92829 10.7511 8.80888C10.266 9.70907 9.62836 10.6184 9.00327 11.4233C8.23844 12.4031 7.42154 13.341 6.5561 14.2331L6.5127 14.2772L6.5008 14.2891L6.4966 14.2933L6.00031 13.7998ZM6.00031 8.19989C6.55726 8.19989 7.09139 7.97864 7.48521 7.58482C7.87903 7.191 8.10028 6.65687 8.10028 6.09992C8.10028 5.54297 7.87903 5.00884 7.48521 4.61502C7.09139 4.2212 6.55726 3.99995 6.00031 3.99995C5.44336 3.99995 4.90923 4.2212 4.51541 4.61502C4.12159 5.00884 3.90034 5.54297 3.90034 6.09992C3.90034 6.65687 4.12159 7.191 4.51541 7.58482C4.90923 7.97864 5.44336 8.19989 6.00031 8.19989Z" fill="%23BDBDBD"/></svg>');
        }

        &-detalhes {
          margin-top: 2rem;
          width: fit-content;
          font-size: .875rem;
          padding: .5rem 1.25rem;
          border-radius: var(--borda-m);
          background: var(--wireframe-200);
          color: var(--wireframe-600);
          display: flex;
          align-items: center;

          &::after {
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none"><path d="M0.669884 10.63L1.73054 11.6907L10.6542 2.767L10.6542 8.60064L12.1604 8.60063L12.1604 0.200207L3.75994 0.200206L3.75994 1.70634H9.59357L0.669884 10.63Z" fill="%23111111"/></svg>');
            margin-left: .5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 48rem) {
  #section-eventos .container .evento-lista {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .evento-item {
      width: 21rem;
    }
  }
}

@media only screen and (min-width: 64rem) {
  .evento-item {
    width: 18.5rem !important;

    &:not(:last-child) {
      margin-bottom: 0 !important;
    }
  }
}

@media only screen and (min-width: 80rem) {
  .evento-item {
    min-width: 18.5rem !important;
    width: 100% !important;
    max-width: 21rem !important;

    &:not(:last-child), &:last-child {
      margin-bottom: 1.5rem !important;
    }
    // margin-bottom: 1.5rem;
  }

  footer {
    background: none;
    color: var(--wireframe-300);
  }
}