@import "../global/global-styles";
@import "../components/component-header";
@import "../components/component-breadcrumb";
@import "../components/component-dashboard-nav";

main {
  padding-top: calc(1.8rem + var(--section_top-spacing));

  .nav-container {
    padding-right: 0;
    margin-bottom: 2.75rem;
  }
}
