@import "../global/global-styles";
@import "../components/component-header";

.main {
  padding-top: calc(4.5rem + var(--section_top-spacing));
  padding-bottom: 4rem;
  background: var(--wireframe-400);

  .container {
    flex-direction: column;
    align-items: center;

    .display {
      margin-bottom: 1rem;
      text-align: center;
      color: var(--wireframe-000);
      max-width: 31rem;
    }

    p {
      color: var(--wireframe-000);
      text-align: center;
      max-width: 24rem;
    }

    .main-ctas {
      margin-top: 2.75rem;
      display: flex;
      flex-direction: column;
      width: 100%;

      a {
        width: 100%;

        &:last-child {
          margin-top: 1.125rem;
          color: var(--wireframe-000);
        }
      }
    }
  }
}

.index-section {
  padding: var(--sections-margin) 0;

  .container {
    flex-direction: column;

    @media only screen and (min-width: 64rem) {
      flex-direction: row;
      align-items: center;

      .index-section-image {
        width: 50%;
        margin-bottom: 0;
        margin-right: 1.5rem;

        &.sobre {
          width: 45%;
          order: 2;
          margin-left: 1.5rem;
          margin-right: 0;
        }
      }
    }
  }

  &-image {
    margin-bottom: 2.75rem;
  }

  &-info {
    h2 {
      margin-bottom: 1.125rem;
    }

    p {
      max-width: 40rem;
    }

    .btn-primario {
      margin-top: 2rem;
      width: 100%;
      background: var(--wireframe-500);
      color: var(--wireframe-000);
    }
  }


}

.section-perfil {
  padding: var(--sections-margin) 0;
  background: var(--wireframe-100);

  .container {
    flex-direction: column;

    h2 {
      text-align: center;
      margin-bottom: 2.75rem;
    }

    .perfil-lista {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .perfil-item {
        padding: 1.5rem 1.25rem;
        background: var(--wireframe-000);
        border-radius: var(--borda);
        border: 1px solid var(--wireframe-200);
        max-width: 28rem;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }

        &-image {
          width: 100%;
          margin-bottom: 1.75rem;
          border-radius: var(--borda);
        }

        &-info {
          p {
            margin: .75rem 0 1.5rem;
          }

          .btn-primario {
            width: 100%;
            background: var(--wireframe-500);
            color: var(--wireframe-000);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 36rem) {
  .main .container {
    .main-ctas {
      width: 70%;
    }
  }

  .index-section .btn-primario {
    width: fit-content;
  }

  .section-perfil .container {
    align-items: center;

    h2 {
      max-width: 28rem;
    }
  }
}

@media only screen and (min-width: 48rem) {
  .main {
    padding-top: calc(6rem + var(--section_top-spacing));
    padding-bottom: 5rem;

    .container {
      align-items: flex-start;

      .display,
      p {
        text-align: left;
        max-width: 39rem;
      }

      .main-ctas {
        flex-direction: row;
        align-items: center;

        a:last-child {
          margin-top: 0;
          margin-left: 1.125rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 64rem) {
  .section-perfil .container .perfil-lista {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;

    .perfil-item {
      width: 18.8rem;
      // height: 30rem;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:nth-child(2) {
        .perfil-item-info {
          p {
            margin-bottom: calc(1.5rem + 24.5px); //GAMBIARRA
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 80rem) {
  .perfil-item {
    width: 22.5rem !important;
  }
}