@import "../global/global-styles";
@import "../components/component-header";
@import "../components/component-breadcrumb";

section {
  margin-top: var(--sections-margin);

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      text-align: center;
      font-size: 1.3rem;
      margin-bottom: 2.75rem;
      max-width: 34rem;
    }

    .perfil-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      li {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }

        a {
          width: 100%;
          height: 13.5rem;
          background-color: var(--wireframe-100);
          border-radius: var(--borda);
          padding: 2rem 1.5rem;
          display: flex;
          align-items: flex-end;
          color: var(--wireframe-500);
        }
      }
    }
  }
}

@media only screen and (min-width: 48rem) {
  section .container .perfil-links {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      width: 21rem;
    }
  }
}

@media only screen and (min-width: 64rem) {
  section .container .perfil-links li {
    width: 48.5%;
  }
}

@media only screen and (min-width: 80rem) {
  section .container .perfil-links {
    &::after {
      content: "";
      flex: auto;
    }

    li {
      width: 22.35rem;

      &:last-child {
        margin-bottom: 1.5rem;
        margin-left: 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: 86rem) {
  section .container .perfil-links li {
    width: 24rem;
    margin-bottom: 2rem !important;

    &:last-child {
      margin-left: 2rem;
    }
  }
}