@import "../global/global-styles";
@import "../components/component-header";
@import "../components/component-breadcrumb";

section {
  margin-top: var(--sections-margin);

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}

article {
  margin: var(--sections-margin) 0;

  .container {
    flex-direction: column;

    h2 {
      margin-bottom: 1.25rem;
      color: var(--visual-800);
    }

    p {
      color: var(--visual-800);
      
    }

    p:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (min-width: 48rem) {
  article p{
    max-width: 42rem;
  }
}