header {
  background: var(--wireframe-000);
  padding: 1rem 0;
  border-bottom: 1px solid var(--wireframe-100);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: calc(4.5rem + 1px);
    width: 100vw;
    height: calc(100vh - 4.5rem - 1px);
    background: rgba($color: #000000, $alpha: .15);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: .3s opacity ease-in-out;
  }

  .container {
    justify-content: space-between;
    align-items: center;

    .logo-container {
      height: fit-content;

      a {
        font-size: 1.125rem;
        font-weight: var(--semibold);
        color: var(--wireframe-600);
        letter-spacing: -0.03rem;
      }
    }

    #menu {
      width: 2.5rem;
      height: 2.5rem;

      div {

        &,
        &::before,
        &::after {
          width: 1.75rem;
          height: .1875rem;
          background: var(--wireframe-500);
          border-radius: var(--borda);
        }

        display: flex;
        position: relative;
        margin-left: auto;

        &::before,
        &::after {
          display: block;
          content: '';
          position: absolute;
          transition: .2s all ease-in-out;
        }

        &::before {
          transform: translateY(-8px);
        }

        &::after {
          transform: translateY(8px);
        }
      }
    }

    #header-nav {
      position: absolute;
      width: 15rem;
      height: calc(100vh - 4.5rem - 1px); //4.5rem altura do header e 1px de borda
      top: calc(4.5rem + 1px);
      right: -15rem;
      background: var(--wireframe-000);
      padding: 3rem 1.25rem;
      visibility: hidden;
      transition: .3s right ease-in-out;

      #internal-nav {
        display: flex;
        flex-direction: column;

        li {
          &:not(:last-child) {
            margin-bottom: 1.375rem;
          }

          a {
            display: block;
            padding: .5rem;
            color: var(--wireframe-500);
          }
        }

        #publico-nav {
          border-radius: var(--borda);
          overflow: hidden;
          &-button {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::after {
              margin-right: .5rem;
              content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 11 8" fill="none"><path d="M5.48481 6.94073L0.929896 2.38579C0.710217 2.16611 0.710217 1.80996 0.929896 1.5903L1.46115 1.05904C1.68046 0.839737 2.03589 0.839315 2.25571 1.0581L5.88257 4.66797L9.50941 1.0581C9.72923 0.839315 10.0847 0.839737 10.304 1.05904L10.8352 1.5903C11.0549 1.80998 11.0549 2.16614 10.8352 2.38579L6.28033 6.94073C6.06065 7.16039 5.70449 7.16039 5.48481 6.94073Z" fill="%23828282"/></svg>');
            }
          }

          &-lista {
            background: rgba($color: #e0e0e0, $alpha: .25);
            font-size: .875rem;
            padding: 0;
            height: 0;
            visibility: hidden;
            opacity: 0;
            transition: .3s opacity linear;

            li {
              &:not(:last-child) {
                margin-bottom: .5rem;
              }
            }
          }

          &.--publico-nav--ativo {
            #publico-nav-button {
              background: rgba($color: #e0e0e0, $alpha: .45);

              &::after {
                transform: rotate(180deg);
              }
            }

            #publico-nav-lista {
              padding: .25rem .6rem;
              height: auto;
              visibility: visible;
              opacity: 1;
              transition: .3s opacity linear;
            }
          }
        }
      }
    }
  }

  &.header--ativo {
    &::before {
      visibility: visible;
      opacity: 1;
      transition: .3s opacity ease-in-out;
    }

    .container {
      #menu div {
        background: transparent;

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      #header-nav {
        visibility: visible;
        right: 0;
        transition: .3s right ease-in-out;
      }
    }
  }
}