.filtro-select-div, .filtro-search-div {
  display: flex;
  border-radius: var(--borda-m);
  border: 1px solid var(--wireframe-100);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;

  &:focus-within {
    border-color: var(--wireframe-300);
  }
  

  .filtro-select, .filtro-input {
    -moz-appearance:none; 
    -webkit-appearance:none; 
    appearance:none;
    padding: .75rem 0 .75rem 1rem;
    width: calc(100% - .875rem);
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }
}

.filtro-select-div::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 11 8" fill="none"><path d="M5.48481 6.94073L0.929896 2.38579C0.710217 2.16611 0.710217 1.80996 0.929896 1.5903L1.46115 1.05904C1.68046 0.839737 2.03589 0.839315 2.25571 1.0581L5.88257 4.66797L9.50941 1.0581C9.72923 0.839315 10.0847 0.839737 10.304 1.05904L10.8352 1.5903C11.0549 1.80998 11.0549 2.16614 10.8352 2.38579L6.28033 6.94073C6.06065 7.16039 5.70449 7.16039 5.48481 6.94073Z" fill="%23828282"/></svg>');
}

.filtro-search-div::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none"><path d="M12.7564 14.5L9.14926 10.8928C8.70512 11.2482 8.19436 11.5294 7.61698 11.7367C7.0396 11.944 6.42521 12.0476 5.7738 12.0476C4.1601 12.0476 2.79452 11.4886 1.67707 10.3705C0.559615 9.25249 0.000592185 7.88691 0 6.2738C0 4.6601 0.559023 3.29452 1.67707 2.17707C2.79511 1.05961 4.16069 0.500592 5.7738 0.5C7.38751 0.5 8.75309 1.05902 9.87054 2.17707C10.988 3.29511 11.547 4.66069 11.5476 6.2738C11.5476 6.92521 11.444 7.5396 11.2367 8.11698C11.0294 8.69436 10.7482 9.20512 10.3928 9.64926L14 13.2564L12.7564 14.5ZM5.7738 10.2711C6.88415 10.2711 7.82809 9.88228 8.60563 9.10474C9.38317 8.3272 9.77164 7.38356 9.77105 6.2738C9.77105 5.16346 9.38228 4.21951 8.60474 3.44197C7.8272 2.66444 6.88356 2.27596 5.7738 2.27655C4.66346 2.27655 3.71951 2.66532 2.94197 3.44286C2.16444 4.2204 1.77596 5.16405 1.77655 6.2738C1.77655 7.38415 2.16532 8.32809 2.94286 9.10563C3.7204 9.88317 4.66405 10.2716 5.7738 10.2711Z" fill="%23828282"/></svg>');
}

#section-filtro__mobile {
  margin-top: 2rem;
  border-radius: var(--borda-m);
  border: 1px solid var(--wireframe-100);

  #toggle-filtro {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="8" viewBox="0 0 11 8" fill="none"><path d="M5.48481 6.94073L0.929896 2.38579C0.710217 2.16611 0.710217 1.80996 0.929896 1.5903L1.46115 1.05904C1.68046 0.839737 2.03589 0.839315 2.25571 1.0581L5.88257 4.66797L9.50941 1.0581C9.72923 0.839315 10.0847 0.839737 10.304 1.05904L10.8352 1.5903C11.0549 1.80998 11.0549 2.16614 10.8352 2.38579L6.28033 6.94073C6.06065 7.16039 5.70449 7.16039 5.48481 6.94073Z" fill="%23828282"/></svg>');
    }
  }

  #listas-filtro {
    padding: 0;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: .3s opacity linear;

    .listas-label-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.375rem;

      &:last-child {
        margin-bottom: 2.5rem;
      }

      label {
        display: block;
        font-size: .875rem;
        font-weight: 500;
        letter-spacing: .0175rem;
        margin-bottom: .75rem;
      }
    }

    #filtro-limpa {
      padding: .5rem .75rem;
      border-radius: var(--borda);
      background: rgba(224, 224, 224, 0.50);
      font-size: .875rem;
      letter-spacing: .00875rem;
    }
  }

  &.filtro--ativo {
    #toggle-filtro::after {
      transform: rotate(180deg);
    }

    #listas-filtro {
      padding: .5rem 1rem 1.25rem;
      visibility: visible;
      opacity: 1;
      height: auto;
      transition: .3s opacity linear;
    }
  }
}